* {
  	margin: 0;
	padding: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*:focus,
button:focus {
    outline: none;
}
@font-face {
    font-family: 'Lato Hairline';
    src: url('fonts/Lato-Hairline.eot');
    src: local('Lato Hairline'), local('Lato-Hairline'),
        url('fonts/Lato-Hairline.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato-Hairline.woff') format('woff'),
        url('fonts/Lato-Hairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Heavy.eot');
    src: local('Lato Heavy'), local('Lato-Heavy'),
        url('fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato-Heavy.woff') format('woff'),
        url('fonts/Lato-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-HeavyItalic.eot');
    src: local('Lato Heavy Italic'), local('Lato-HeavyItalic'),
        url('fonts/Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato-HeavyItalic.woff') format('woff'),
        url('fonts/Lato-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.eot');
    src: local('Lato Regular'), local('Lato-Regular'),
        url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato-Regular.woff') format('woff'),
        url('fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Black.eot');
    src: local('Lato Black'), local('Lato-Black'),
        url('fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato-Black.woff') format('woff'),
        url('fonts/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-SemiboldItalic.eot');
    src: local('Lato Semibold Italic'), local('Lato-SemiboldItalic'),
        url('fonts/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato-SemiboldItalic.woff') format('woff'),
        url('fonts/Lato-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-BlackItalic.eot');
    src: local('Lato Black Italic'), local('Lato-BlackItalic'),
        url('fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato-BlackItalic.woff') format('woff'),
        url('fonts/Lato-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lato Hairline';
    src: url('fonts/Lato-HairlineItalic.eot');
    src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'),
        url('fonts/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato-HairlineItalic.woff') format('woff'),
        url('fonts/Lato-HairlineItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-MediumItalic.eot');
    src: local('Lato Medium Italic'), local('Lato-MediumItalic'),
        url('fonts/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato-MediumItalic.woff') format('woff'),
        url('fonts/Lato-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-ThinItalic.eot');
    src: local('Lato Thin Italic'), local('Lato-ThinItalic'),
        url('fonts/Lato-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato-ThinItalic.woff') format('woff'),
        url('fonts/Lato-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Thin.eot');
    src: local('Lato Thin'), local('Lato-Thin'),
        url('fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato-Thin.woff') format('woff'),
        url('fonts/Lato-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Medium.eot');
    src: local('Lato Medium'), local('Lato-Medium'),
        url('fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato-Medium.woff') format('woff'),
        url('fonts/Lato-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Italic.eot');
    src: local('Lato Italic'), local('Lato-Italic'),
        url('fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato-Italic.woff') format('woff'),
        url('fonts/Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Semibold.eot');
    src: local('Lato Semibold'), local('Lato-Semibold'),
        url('fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato-Semibold.woff') format('woff'),
        url('fonts/Lato-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Bold.eot');
    src: local('Lato Bold'), local('Lato-Bold'),
        url('fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato-Bold.woff') format('woff'),
        url('fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-BoldItalic.eot');
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
        url('fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato-BoldItalic.woff') format('woff'),
        url('fonts/Lato-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-LightItalic.eot');
    src: local('Lato Light Italic'), local('Lato-LightItalic'),
        url('fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato-LightItalic.woff') format('woff'),
        url('fonts/Lato-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Light.eot');
    src: local('Lato Light'), local('Lato-Light'),
        url('fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato-Light.woff') format('woff'),
        url('fonts/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
body {
	font-family: 'Lato';
	font-size: 14px;
	line-height: 1.2em;
    color: #ffffff;
	background-color: #263d52;
}
p {
	margin-bottom: 20px;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.6em;
}
a {
	color: #ffffff;
	text-decoration: none;
}
ul {
	margin-bottom: 20px;
}
ul li {
	list-style-position: inside;
}
a:hover,
a:focus {
	color: #ffffff;
	text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
h1 {
	margin: 0;
    font-size: 20px;
	line-height: 1em;
    color: #ffffff;
	font-weight: 300;
	opacity: 0.7;
}
h2 {
    font-size: 25px;
	line-height: 1em;
	font-weight: 300;	
	margin: 0;
    color: #ffffff;
}
.no-padding {
    padding-left: 0;
    padding-right: 0;
}
@media (min-width: 768px) {
	.width-1200 {
		max-width: 1170px;
		margin: 0 auto;
	}
}
@media (min-width: 768px) {
	.width-1190 {
		max-width: 1160px;
		margin: 0 auto;
	}
}
@media (min-width: 1600px) {
	.width-1170 {
		max-width: 1140px;
		margin: 0 auto;
	}
}
@media (min-width: 768px) {
	.width-970 {
		max-width: 940px;
		margin: 0 auto;
	}
}
.btn {
	border-radius: 8px;
	padding: 10px 22px;
	border: 1px solid #f57b20;
	background: linear-gradient(to bottom, #f15822, #f57b20);
	color: #ffffff;
	font-size: 12px;
	line-height: 1.2em;
	text-transform: uppercase;
	font-weight: 900;
}
@media (max-width: 991px) {
	.btn {
		padding: 10px 15px;
	}	
}
.btn:hover,
.btn:focus {
	background: transparent;
}
.btn--orange-border {
	background: transparent;
}
.btn--orange-border:hover,
.btn--orange-border:focus {
	border: 1px solid #eaeaea;
	color: #959595;
	background: linear-gradient(to bottom, #f15822, #f57b20);
}
.btn--header {
	text-transform: none;
}
.form-field {
	margin-top: 8px;
}
.form-field:first-of-type {
	margin-top: 0;
}
.form-field > label {
	width: 100%;
}
.form-field input[type="text"],
.form-field input[type="email"],
.form-field input[type="password"],
.form-field input[type="file"]:not(.jfilestyle),
.form-field textarea,
.form-field select {
	font-size: 12px;
	line-height: 1em;
	font-weight: 300;
	color: #ffffff;
	background-color: #374859;
	border: none;
	border-radius: 8px;
	padding: 12px 16px;
	width: 100% !important;
}
.form-field .jfilestyle input[type="text"] {
	border: none;
}
.form-field select {
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
	background-image: url(img/arrow-bottom--gray.svg);
	background-repeat: no-repeat;
	background-size: 9px 5px;
	background-position: right 15px top 50%;
}
.form-field input::-webkit-input-placeholder {
	color: #ffffff;
}
.form-field input:-moz-placeholder {
	color: #ffffff;
} /* FF 4-18 */
.form-field input::-moz-placeholder {
	color: #ffffff;
} /* FF 19+ */
.form-field input:-ms-input-placeholder {
	color: #ffffff;
} /* IE 10+ */
.form-field input::-webkit-input-placeholder {
	color: #ffffff;
}
.form-field input[type="checkbox"] {
	width: auto;
}
.form-field input[type="checkbox"] {
    width: 0;
	height: 0;
	transform: scale(0);
}
.form-field input[type="checkbox"] ~ span {
	font-size: 12px;
	line-height: 1.2em;
	color: #959595;
	letter-spacing: 1px;
	font-weight: 500;
	display: inline-block;
	position: relative;
	padding-left: 32px;
}
.form-field input[type="checkbox"] ~ span:before {
    content: '';
	position: absolute;
	left: 0;
	top: -3px;
	color: #ffda00;
	display: inline-block;
	border: 1px solid #d8d8d8;
	border-radius: 50%;
    width: 21px;
    height: 21px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 19px;
	font-size: 54px;
    vertical-align: middle;
    cursor: pointer;
	text-align: center;
}
.form-field input[type="checkbox"]:checked ~ span:before {
	content: '•';
}
.form-field label.error {
	margin-top: 5px;
	margin-bottom: 0;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	font-size: 12px;
	line-height: 1.2em;
	color: #ffffff;
}
.jfilestyle {
	vertical-align: top;
	width: 100%;
	margin-bottom: 0;
	border: 1px solid #cccccc;
	overflow: hidden;
}
.focus-jfilestyle {
	position: absolute;
	right: 1px;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
div.jfilestyle label {
	border: none;
	padding: 10px 14px;
	color: #959595;
	font-size: 12px;
	line-height: 1em;
	text-decoration: underline;
	text-transform: uppercase;
}
.form-submit,
.form-text {
	margin-top: 35px;
}
.form-text {
	font-size: 12px;
	line-height: 1.2em;
}
.wrapper {
	overflow: hidden;
	padding-left: 40px;
	padding-right: 40px;
}
@media (max-width: 767px) {
	.wrapper {
		padding-left: 0;
		padding-right: 0;
	}
}
.col--nopadding {
	padding-left: 0;
	padding-right: 0;
}
.wrapper--header {
	width: 100%;
	overflow: visible;
	background-color: #263d52;
	padding-left: 55px;
	padding-right: 55px;
}
@media (max-width: 767px) {
	.wrapper--header {
		padding-left: 0;
		padding-right: 0;
	}
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
	padding-left: 0;
	padding-right: 0;
}
@media (max-width: 1600px) {
    .navbar {
        flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		align-content: center;
    }
}
@media (max-width: 767px) {
    .navbar {
        padding-top: 15px;
		padding-bottom: 15px;
		min-height: 65px;
		justify-content: space-between;
    }
}
.navbar-brand {
    margin: 0;
	padding: 0;
	position: absolute;
	top: calc(50% - 17px);
	left: 0;
}
@media (max-width: 1600px) {
	.navbar-brand {
		margin: 10px 0;
		position: relative;
		top: -5px;
	}
}
@media (max-width: 991px) {
	.navbar-brand {
		padding-right: 0;
	}	
}
@media (max-width: 767px) {
	.navbar-brand {
		margin-left: 15px;
		margin-top: 0;
		margin-bottom: 0;
	}
}
@media (max-width: 290px) {
	.navbar-brand {
		display: none;
	}	
}
.navbar-brand img {
    width: 112px;
    height: auto;
}
@media (max-width: 767px) {
	.navbar-brand img {
		max-width: 112px;
	}
}
@media (max-width: 420px) {
	.navbar-brand img {
		max-width: 100px;
	}
}
.navbar-dark .navbar-toggler {
	border: 1px solid rgba(255,255,255,0.8);
    padding: 0;
	right: 15px;
    top: 14px;
	position: absolute;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
	border-radius: 50%;
	background-size: 69%;
	background-position: 50% 50%;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
@media (max-width: 1600px) {
    .navbar-collapse,
    .navbar-expand-md .navbar-collapse {
    	flex-basis: auto;
		max-width: none;
		flex-wrap: wrap;
		justify-content: center;
    }
}
@media (max-width: 991px) {
    .navbar-collapse,
    .navbar-expand-md .navbar-collapse {
		flex: 0 0 100%;
		max-width: 100%;
	}
}
@media (max-width: 767px) {
    .navbar-collapse,
	.navbar-expand-md .navbar-collapse {
    	position: absolute;
		top: 100%;
		z-index: 6;
		width: 100%;
		margin-top: 0;
		background-color: rgba(61, 66, 68, 0.95);
		padding-top: 0;
		padding-bottom: 0;
    }
}
@media (max-width: 1600px) {
    .navbar-nav {
    	margin-left: 0;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		align-content: center;
    }
}
@media (max-width: 1280px) {
	.navbar-nav {
		flex: 0 0 100%;
		max-width: 100%;
	}
}
@media (max-width: 767px) {
    .navbar-nav {
        margin-top: 0;
		text-align: center;
		margin-left: 15px;
		margin-right: 15px;
		padding: 15px 0;
    }
}
.navbar-dark .navbar-nav .nav-link {
	font-size: 14px;
	line-height: 1.2em;
	color: #ffffff;
    padding: 10px 10px;
	cursor: pointer;
	position: relative;
	font-weight: 300;
}
@media (max-width: 1600px) {
	.navbar-dark .navbar-nav .nav-link {
		font-size: 12px;
		line-height: 1.2em;
		letter-spacing: 1px;
		padding-left: 10px;
		padding-right: 10px;		
	}
}
@media (max-width: 767px) {
	.navbar-dark .navbar-nav .nav-link {
		padding-left: 0;
		padding-right: 0;	
	}
}
@media (min-width: 1601px) {
	.nav-item:first-child .nav-link {
		padding-left: 0;
	}
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link.active {
    color: #ffffff;
}
.navbar-dark .navbar-nav .nav-link:after {
	content: '';
	position: absolute;
    bottom: -5px;
    left: 15px;
    height: 2px;
    width: 0;
    background-color: #f16624;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
@media (max-width: 1600px) {
	.navbar-dark .navbar-nav .nav-link:after {
		bottom: 5px;
		left: 10px;
	}
}
@media (max-width: 767px) {
	.navbar-dark .navbar-nav .nav-link:after {
		left: 0;
	}
}
@media (min-width: 1601px) {
	.nav-item:first-child .nav-link:after {
		left: 0;
	}
}
.navbar-dark .navbar-nav .nav-link:hover:after,
.navbar-dark .navbar-nav .nav-link:focus:after,
.navbar-dark .navbar-nav .nav-link.active:after {
    width: calc(100% - 30px);
}
@media (max-width: 1600px) {
	.navbar-dark .navbar-nav .nav-link:hover:after,
	.navbar-dark .navbar-nav .nav-link:focus:after,
	.navbar-dark .navbar-nav .nav-link.active:after {
		width: calc(100% - 20px);
	}	
}
@media (max-width: 767px) {
	.navbar-dark .navbar-nav .nav-link:hover:after,
	.navbar-dark .navbar-nav .nav-link:focus:after,
	.navbar-dark .navbar-nav .nav-link.active:after {
		width: 100%;
	}	
}
@media (min-width: 1601px) {
	.nav-item:first-child .nav-link:hover:after,
	.nav-item:first-child .nav-link:focus:after,
	.nav-item:first-child .nav-link.active:after {
		width: calc(100% - 15px);
	}
}
.header__phone {
	margin-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 18px;
	line-height: 1em;
	font-weight: 300;
}
@media (max-width: 1600px) {
	.header__phone {
		margin-left: 15px;
		font-size: 14px;
		line-height: 1em;		
	}
}
@media (max-width: 767px) {
	.header__phone {
		margin-left: 15px;
		margin-right: 15px;
		text-align: center;
	}
}
.header__buttons {
	margin-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;
}
@media (max-width: 1600px) {
	.header__buttons {
		margin-left: 25px;
	}
}
@media (max-width: 767px) {
	.header__buttons {
		margin-left: 15px;
		margin-right: 15px;
		padding-top: 0;
		text-align: center;
		padding-bottom: 25px;
	}
}
.header__btn {
	margin-left: 15px;
	padding-left: 15px;
	padding-right: 15px;
	background: transparent;
	font-weight: 300;
	text-transform: none;
}
@media (max-width: 767px) {
	.header__btn {
		margin-top: 10px;
		margin-left: 0;
	}
}
.header__btn:hover,
.header__btn:focus {
	background: linear-gradient(to bottom, #f15822, #f57b20);
}
.header__btn:first-child {
	margin-left: 0;
}
.header__links {
	position: absolute;
	right: 0;
	top: 18px;
	padding-top: 10px;
	padding-bottom: 10px;	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
}
@media (max-width: 1600px) {
	.header__links {
		position: static;
	}
}
@media (max-width: 767px) {
	.header__links {
		padding-top: 0;
		padding-bottom: 0;
		margin-right: 68px;
	}
}
@media (max-width: 290px) {
	.header__links {
		margin-left: 15px;
		margin-right: 0;
	}
}
@media (max-width: 180px) {
	.header__links {
		display: none;
	}
}
.header-link {
	margin-left: 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}
.header-link:first-child {
	margin-left: 0;
}
.header-link__icon {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid #f57b20;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.header-link__icon img {
	width: 14px;
	height: 14px;
}
.header-link__text {
	margin-left: 8px;
	font-size: 12px;
	line-height: 1.2em;
	font-weight: 300;
}
@media (max-width: 767px) {
	.header-link__text {
		display: none;
	}
}
.breadcrumbs {
	opacity: 0.7;
}
.breadcrumbs ul {
	margin-bottom: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.breadcrumbs ul li {
	margin-right: 6px;
	list-style-type: none;
	font-size: 12px;
	line-height: 1.2em;
	color: #ffffff;
	font-weight: 300;
}
.breadcrumbs a {
	color: #ffffff;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
	text-decoration: underline;
}
.wrapper--main {
	background-color: #020305;
	background-image: url(img/main__bg.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	border-bottom: 1px solid #f57b20;
	position: relative;
}
.main__mask {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition:all 0.3s ease-in-out;
}
.main__mask[class*=" active-"] {
	background-color: rgba(0, 0, 0, 0.4);
}
.row--main {
	position: relative;
}
.main__slick-prev,
.main__slick-next {
	position: absolute;
	top: calc(50% - 27px);
	z-index: 1;
	width: 54px;
	height: 54px;
	border-radius: 50%;
	cursor: pointer;
	background-color: transparent;
	opacity: 0.6;	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.main__slick-prev {
	left: -3px;
}
.main__slick-next {
	right: -3px;
}
.main__slick-prev:hover,
.main__slick-prev:focus,
.main__slick-next:hover,
.main__slick-next:focus {
	background-color: rgba(255, 255, 255, 0.2);
	opacity: 1;
}
.main__slick-prev img,
.main__slick-next img {
	width: 22px;
	height: 22px;
	position: relative;
}
.main__slick-prev img {
	left: -2px;
}
.main__slick-next img {
	right: -2px;
}
.col--main-slider,
.col--main-truck {
	padding-top: 70px;
	padding-bottom: 70px;
}
.col--main-slider {
	padding-left: 95px;
	padding-right: 95px;
	position: relative;
}
.main__title {
	margin-top: 10px;
}
.main-slider-slide__content {
	margin-top: 70px;
}
.main-slider-slide__indicator {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}
.main-slider-slide__indicator-img {
	width: 84px;
	height: 84px;
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.indicator-img-circle {
	position: absolute;
	left: 0;
	top: 0;
}
.indicator-img-circle__circle-white {
  fill: none;
  stroke: #7c8086;
  stroke-width: 1;
}
.indicator-img-circle__circle-orange {
  fill: none;
  stroke: #f57b20;
  stroke-width: 5;
  stroke-dasharray: 251;
  stroke-dashoffset: 251;
}
.slick-current .indicator-img-circle__circle-orange--30 {
	animation: rotate-30 2s linear forwards;
	animation-delay: 0.6s;
}
.slick-current .indicator-img-circle__circle-orange--40 {
	animation: rotate-40 2s linear forwards;
	animation-delay: 0.6s;
}
.slick-current .indicator-img-circle__circle-orange--10 {
	animation: rotate-10 1s linear forwards;
	animation-delay: 0.6s;
}
@keyframes rotate-30 {
	to {
    	stroke-dashoffset: 170;
  	}
}
@keyframes rotate-40 {
	to {
    	stroke-dashoffset: 150;
  	}
}
@keyframes rotate-10 {
	to {
    	stroke-dashoffset: 225;
  	}
}
.main-slider-slide__indicator-img img {
	height: 25px;
	width: 25px;
}
.main-slider-slide__indicator-number {
	margin-left: 30px;
	font-size: 82px;
	line-height: 1em;
	font-weight: 100;
}
.main-slider-slide__title {
	margin-top: 30px;
	font-size: 25px;
	line-height: 1.2em;
	font-weight: 300;
	position: relative;
	left: 1px;
}
.main-slider-slide__text {
	margin-top: 25px;
	font-size: 16px;
	line-height: 1.4em;
	font-weight: 300;
	position: relative;
	left: 1px;
}
.main-slider-slide__btn {
	margin-top: 30px;
}
.main-slider__nav {
	margin-top: 70px;
}
.main-slider__nav li {
	list-style-type: none;
	display: inline-block;
	vertical-align: top;
	width: 16px;
	height: 16px;
	border: 1px solid transparent;
	border-radius: 50%;
	margin-right: 8px;
	cursor: pointer;
	text-align: center;
}
.main-slider__nav li.slick-active {
	border: 1px solid #ffffff;
}
.main-slider__nav li button {
	width: 6px;
	height: 6px;
	background-color: #ffffff;
	border: none;
	border-radius: 50%;
	font-size: 0;
	cursor: pointer;
}
.col--main-truck {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.truck {
	flex: 0 0 100%;
	max-width: 100%;
	height: 500px;
	left: 30px;
	position: relative;
}
.truck:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-image: url(img/main__truck.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	transition:all 0.3s ease-in-out;
}
.truck[class*=" show-tip-"]:before {
	opacity: 0.4;
}
.truck__area {
	position: absolute;
}
.truck__area--1 {
	left: 14%;
	top: 22%;
}
.truck__area--2 {
	left: 22%;
	top: 65%;
}
.truck__area--3 {
	left: 46%;
	top: 27%;
}
.truck__area--4 {
	left: 56%;
	top: 19%;
}
.truck__area--5 {
	left: 58%;
	top: 74%;
}
.truck__area--6 {
	right: 0%;
	top: 48%;
}
.truck__area-point {
	width: 36px;
	height: 36px;
	border: 1px solid #ffffff;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	position: relative;
	z-index: 5;
	cursor: pointer;
	transition: all 0.3s;
}
.truck[class*=" show-tip-"] .not-active-area .truck__area-point {
	opacity: 0.5;
}
.truck__area-point:before {
	content: '';
	position: absolute;
	left: 9px;
    top: 9px;
    width: 16px;
    height: 16px;
    background: #ffffff;
    border-radius: 50%;
}
.active-area .truck__area-point:before {
	display: none;
}
.truck__area-line {
	position: absolute;
	left: -370%;
	top: calc(-340% + 18px);
	width: 370%;
	height: 340%;
}
.truck__area-line.hidden {
	opacity: 0;
}
.truck__area-line.hidden.animate {
	opacity: 1;
	border-left: none;
	border-bottom: none;
}
.truck__area-line:before {
	position: absolute;
	content: '';
	border-bottom: 1px solid #ffffff;
	left: 100%;
	right: 0;
	bottom: 0;
}
.truck__area-line.hidden.animate:before {
	left: 0%;
	transition-property: all;
	transition-timing-function: ease-in-out;
	transition-duration: 400ms;
	transition-delay: 200ms;
}
.truck__area-line:after {
	position: absolute;
	content: '';
	border-left: 1px solid #ffffff;
	top: 100%;
	bottom: 0;
	left: 0;
}
.truck__area-line.hidden.animate:after {
	top: 0;
	transition-property: all;
	transition-timing-function: ease-in-out;
	transition-duration: 400ms;
	transition-delay: 600ms;
}
.hidden-qtip {
	display: none;
}
.truck__area-tip {
    border: none;
	padding: 0 0;
	font-size: 14px;
	line-height: 1.2em;
    background: rgba(0, 0, 0, 0);
    color: #fff;
	border-radius: 0;
	min-width: 200px;
	max-width: 500px;
	transition:all 0.3s ease-in-out;
	transition-delay: 800ms;
}
.truck__area-tip .qtip-content {
	padding: 0;
	overflow: visible;
}
.truck__area-tip-content {
	position: relative;
	padding-left: 20px;
}
.truck__area-tip-content:before {
	content: '';
	position: absolute;
	left: -2px;
	top: 5px;
	width: 5px;
	height: 5px;
	background-color: #ffffff;
	border-radius: 50%;
}
.wrapper--damages {
	padding-top: 60px;
	padding-bottom: 60px;
	background: linear-gradient(to bottom, #273e53, #131f2e);
}
.damages__title,
.opportunities__title {
	text-align: center;
}
.damages__list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
}
.damage {
	margin-top: 50px;
	flex: 0 0 25%;
	max-width: 25%;
	text-align: center;
}
.damage__img {
	margin: 0 auto;
	width: 80px;
	height: 80px;
	border: 1px solid #747d88;
	border-radius: 50%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	position: relative;
}
.damage__img img {
	height: 30px;
}
.damage__img:before,
.damage__img:after {
	content: '';
	position: absolute;
	top: 50%;
	width: 100%;
	height: 1px;
	background-color: #747d88;
}
.damage__img:before {
	left: -140%;
}
.damage__img:after {
	right: -140%;
}
.damage:first-child .damage__img:before {
	display: none;
}
.damage:last-child .damage__img:after {
	display: none;
}
.damage__text {
	margin-top: 20px;
	color: #c4c8cc;
	font-size: 16px;
	line-height: 1.4em;
	font-weight: 300;
}
.wrapper--solutions {
	padding-left: 0;
	padding-right: 0;
}
.solutions__part {
	min-height: 500px;
}
.solutions__part--1 {
	background-color: #020305;
	background-image: url(img/what__bg.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.solutions__img {
	max-width: 640px;
}
.solutions__part--2 {
	background-color: #e5ecef;
	padding: 60px 90px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}
.solutions__title h2 {
	color: #4f4f6f;
}
.solutions__content {
	margin-top: 50px;
	font-size: 16px;
	line-height: 1.2em;
	color: #000000;
}
.solutions__content ul {
	margin-bottom: 0;
}
.solutions__content ul li {
	margin-bottom: 25px;
	list-style-type: none;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	position: relative;
	padding-left: 60px;
}
.solutions__content ul li:last-child {
	margin-bottom: 0;
}
.solutions__content ul li:before {
	content:'•';
	position: absolute;
	left: 0;
	top: calc(50% - 15px);
	color: #8dc63f;
	font-family: 'Arial';
	font-size: 39px;
	line-height: 30px;
	text-align: center;
	width: 30px;
	height: 30px;
	border: 1px solid #d7d7d8;
	border-radius: 50%;
}
.wrapper--opportunities {
	padding-top: 60px;
	padding-bottom: 60px;	
	background: linear-gradient(to bottom, #1c3043, #121d2d);
	border-bottom: 1px solid #f57b20;
}
.opportunitiy {
	margin-top: 60px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}
.opportunity__img-wrapper {
	flex: 0 0 20%;
	max-width: 20%;
}
.opportunity__img {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;	
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #4c5869;
}
.opportunitiy:hover .opportunity__img,
.opportunitiy:focus .opportunity__img {
	background: linear-gradient(to bottom, #f15822, #f57b20);
}
.opportunity__img img {
	height: 18px;
}
.opportunity__text {
	flex: 0 0 80%;
	max-width: 80%;
	padding-left: 30px;
	font-weight: 300;
}
.wrapper--order {
	padding-top: 70px;
	padding-bottom: 70px;
	background: linear-gradient(to bottom, #273e53, #121d2c);
}
.order__form {
	margin-top: 45px;
	width: 100%;
	max-width: 30%;
}
.wrapper--how {
	border-bottom: 1px solid #f57b20;
}
.how__part--1 {
	background-color: #263d52;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
}
.how__content {
	width: 100%;
	padding: 55px 55px 55px 0;
}
.how__list {
	margin-top: 45px;
}
.how__list ul {
	margin-bottom: 0;
}
.how__list ul li {
	margin-bottom: 15px;
	list-style-type: none;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	padding-left: 50px;
	position: relative;
}
.how__list ul li:last-child {
	margin-bottom: 0;
}
.how__number {
	position: absolute;
	left: 0;
	top: 0;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: #4e6273;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	font-weight: 600;
}
.how__part--2 {
	background: linear-gradient(to bottom, #1c3043, #121d2c);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	position: relative;
}
.how__part--2:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: -9999px;
	width: 9999px;
	background: linear-gradient(to bottom, #1c3043, #121d2c);
}
.how__scheme {
	padding: 55px 0 55px 55px;
	width: 100%;
	max-width: 700px;
}
.wrapper--rates {
	min-height: 550px;
	padding-bottom: 70px;
	background: linear-gradient(to bottom, #bad4ea, #9dbad3);
}
.container-fluid--rates {
	padding-left: 10px;
	padding-right: 10px;
}
.row--rates {
	margin-left: -10px;
	margin-right: -10px;
}
.col--rate {
	padding-left: 10px;
	padding-right: 10px;
}
.rate {
	margin-top: 70px;
	background-color: #ffffff;
	border-radius: 8px;
	padding: 40px;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
	color: #4f4f6f;
}
.rate__title {
	font-size: 18px;
	line-height: 1.2em;
	color: #f57b20;
	font-weight: 600;
}
.rate__divider {
	margin-top: 25px;
	height: 1px;
	background-color: #efefef;
}
.rate__list ul {
	margin-bottom: 0;
}
.rate-list-item {
	margin-top: 20px;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}
.rate-list-item__img {
	flex: 0 0 20%;
	max-width: 20%;
}
.rate-list-item__img img {
	width: 22px;
	height: 22px;
}
.rate-list-item__text {
	flex: 0 0 80%;
	max-width: 80%;
	font-weight: 600;
}
.rate__buy {
	margin-top: 25px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}
.rate__price {
	margin-right: 25px;
	font-size: 24px;
	line-height: 1em;
	font-weight: 600;	
}
.rate__price-currency {
	margin-left: 5px;
	font-size: 14px;
	line-height: 1em;
}
.rate__buy-btn {
	padding-left: 30px;
	padding-right: 30px;
	text-transform: none;
	font-weight: 600;
}
.rate__buy-btn:hover,
.rate__buy-btn:focus {
	color: #f57b20;
}
.wrapper--footer {
	padding-bottom: 70px;
	background: linear-gradient(to bottom, #1c3044, #121d2c);
	color: #ffffff;
}
.footer a {
	color: #ffffff;
}
.footer a:hover,
.footer a:focus {
	color: #ffffff;
}
.footer__logo {
	margin-top: 70px;
}
.footer__logo img {
	width: 80px;
	height: auto;
}
.footer__menu {
	margin-top: 70px;
}
.footer__menu ul {
	margin-bottom: 0;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
	-moz-column-gap: 15px;
	-webkit-column-gap: 15px;
	column-gap: 15px;
}
.footer__menu ul li {
	list-style-type: none;
	font-size: 12px;
	line-height: 1.2em;
	font-weight: 300;
	margin-bottom: 12px;
}
.footer__buttons {
	margin-top: 70px;
	text-align: right;
}
.footer__btn {
	margin-left: 25px;
	background: transparent;
	font-weight: 300;
	text-transform: none;
}
.footer__btn:hover,
.footer__btn:focus {
	background: linear-gradient(to bottom, #f15822, #f57b20);
}
.footer__btn:first-child {
	margin-left: 0;
}
